webproj/app/xml/schAlbum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="album" type="albumType"/>

    <xs:complexType name="albumType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="mbid" minOccurs="0"/>
            <xs:element type="xs:string" name="image"/>
            <xs:element type="xs:string" name="wikiShort"/>
            <xs:element type="xs:string" name="wikiFull"/>
            <xs:element type="tracksType" name="tracks" minOccurs="0"/>
            <xs:element type="tagsType" name="tags" minOccurs="0"/>
            <xs:element type="commentsType" name="comments" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tracksType">
        <xs:sequence>
            <xs:element name="track" type="trackType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="trackType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tagsType">
        <xs:sequence>
            <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="commentsType">
        <xs:sequence>
            <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="commentType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="user" type="xs:string"/>
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>