webproj/app/xml/schTopTracks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="topTracks" type="topTracksType"/>

    <xs:complexType name="topTracksType">
        <xs:sequence>
            <xs:element name="topTrack" type="topTrackType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="topTrackType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="image"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>